<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/business-affiliate-network.png">

    <title>Document Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @*<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">*@

</head>
<body style="padding-top:30px">
    <div class="body-content">
        <div id="content">
            @*<div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </div>
                </div>*@
            @Html.React("Components.Document", new { Authenticated = false, UserId = 0, RealtorClient = Model })
            @Html.AntiForgeryToken()
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react-dom.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>*@
    @*<script src="https://unpkg.com/classnames/index.js"></script>*@

    <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
    <script src="https://unpkg.com/react-select/dist/react-select.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">

    <script src="@Url.Content("~/build/client.bundle.js")"></script>
    @Html.ReactInitJavaScript()

</body>
</html>