@model IEnumerable<ApplicationGeneration.Models.SurveyViewModel>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Found it!', 'Staff', 'Satisfaction'],
          ['1/06', 1000, 400,222],
          ['1/07', 1170, 460,343],
          ['1/08', 660, 1120,500],
          ['1/09', 1030, 540,302]
        ]);

        @*var resultArray = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.AnswerChart));
        resultArray[0] = [array[0][0], array[0][0]];
        for (var i = 1; i < array.length; i++)
        {
            resultArray[i] = [array[i][0], parseInt(array[i][1])];
        }*@

        var options = {
            title: 'Average Ratering per Question',
            hAxis: { title: 'Last 24 Hours', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

    @*google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var resultArray = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.AnswerChart));
        resultArray[0] = [array[0][0], array[0][0]];
        for (var i = 1; i < array.length; i++)
        {
            resultArray[i] = [array[i][0], parseInt(array[i][1])];
        }
        var data = google.visualization.arrayToDataTable(resultArray);

        var options = {
            title: 'Survey Answers over all Questions'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {
        var resultArray = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.QuestionChart));
        resultArray[0] = [array[0][0], array[0][0]];
        for (var i = 1; i < array.length; i++)
        {
            resultArray[i] = [array[i][0], parseInt(array[i][1])];
        }
        var data = google.visualization.arrayToDataTable(resultArray);
        var options = {
            title: 'Survey Question Answered'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
    }*@
</script>
<div class="row">
    <div class="col-xs-12">
        <div id="piechart" style="height: 400px;"></div>
    </div>
    @*<div class="col-xs-6">
        <div id="piechart2" style="height: 400px;"></div>
    </div>*@
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beacon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer)
        </th>
        <th>
            Date
        </th>
        @*<th>

            </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beacon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datesubmitted)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>*@
        </tr>
    }

</table>
